<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <!--h2 class="section-heading">About</h2-->
            <h3 class="section-subheading text-muted">Natural Language Processing (NLP) and Computational linguistics are an interdisciplinary field that combines the study of linguistics and computer science to investigate the computational aspects of human language. It focuses on developing and applying computational models and algorithms to analyze, understand, and generate natural language. On this page, we collect information about research and teaching activities related to NLP / computational linguistics at the University of Augsburg
            and at the Technische Hochschule Augsburg.</h3>
            <img src="img/events/hlt_augsburg_group_2025.JPG" alt="Group photo taken at the HLT Retreat Summer Semester 2025" class="responsive"/>
            <br/>
          </div>
        </div>
      </div>
</section>