<!-- About Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Lots of interesting events related to computational linguistics and natural language processing are happening in Augsburg.<br/>
                        Contact the organizers if you are interested in joining!
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/alexis.jpg" alt="Alexis Palmer">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 27, 2025</h4>
                                    <h4 class="subheading">ILKA Talk (<a href="https://www.uni-augsburg.de/de/fakultaet/philhist/studium/vortragsreihen/interdisziplinares-linguistisches-kolloquium-augsburg/">Interdisziplinäres Linguistisches Kolloquium Ausgsburg</a>)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://www.colorado.edu/linguistics/alexis-palmer">Alexis Palmer</a> (University of Colorado, Boulder) gave a talk on "Endangered languages and natural language processing".</a>    
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/barbara_plank.jpg" alt="Icon for summer semester meetings">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 3, 2025</h4>
                                    <h4 class="subheading">AI Meets Human Data Colloquium</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://bplank.github.io/">Barbara Plank</a> (LMU Munich) will join us for an invited talk.
                                        <a class="post-link" href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/coling/ai-meets-human-data-colloquium/">(Program)</a>       
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/roman_klinger.jpg" alt="Roman Klinger">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 27, 2025</h4>
                                    <h4 class="subheading">AI Meets Human Data Colloquium</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><a href="https://www.romanklinger.de/">Roman Klinger</a> (Uni Bamberg) will give a talk on Appraisal Variables as Emotion Models in Natural Language Processing.
                                        <a class="post-link" href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/coling/ai-meets-human-data-colloquium/">(Program)</a>    
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/summersemester.jpg" alt="Icon for summer semester meetings">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer Semester 2026</h4>
                                    <h4 class="subheading">HLT Seminar (Our Group Meetings)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our weekly group meetings continue in the summer semester 2026. We invite all researchers and students at the University of Augsburg and the Hochschule Augsburg to join us for discussions on recent work in language technology.
                                        <a class="post-link" href="nlp-seminar-ss26"">(Program)</a>    
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <div class="col-lg-12 text-center">
                        <a class="post-link  text-center" href="past_events">[Past events]</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
