<!-- About Section -->
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Lots of interesting events related to computational linguistics and natural language processing are happening in Augsburg.<br/>
                        Contact the organizers if you are interested in joining!
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/ai-meets-human-data-icon.jpg" alt="Marc Schulder standing in the Augsburg FAI auditorium">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 13, 2025</h4>
                                    <h4 class="subheading">AI Meets Human Data Colloquium</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Marc Schulder is gave a talk on Computational Sign Linguistics (co-hosted with Elisabeth André). On January 12, Roman Klinger (Uni Bamberg) will visit us.
                                        <a class="post-link" href="https://www.uni-augsburg.de/de/fakultaet/fai/informatik/prof/coling/ai-meets-human-data-colloquium/">(Program)</a>    
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/wintersemester.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Winter Semester 2025/26</h4>
                                    <h4 class="subheading">HLT Seminar (Our Group Meetings)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our weekly group meetings continue in the winter semester 2025/26. We invite all researchers and students at the University of Augsburg and the Hochschule Augsburg to join us for discussions on recent work in language technology.
                                        <a class="post-link" href="nlp-seminar-ws2526">(Program)</a>    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/retreat2025/retreat-2025-talks.JPG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer Semester 2025</h4>
                                    <h4 class="subheading">HLT Seminar (Our Group Meetings)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our weekly group meetings continue in the summer semester 2025. We invite all researchers and students at the University of Augsburg and the Hochschule Augsburg to join us for discussions on recent work in language technology.
                                        <a class="post-link" href="nlp-seminar-ss25">(Program)</a>    
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/retreat2025/retreat-2025-posters1.JPG" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer Semester 2025</h4>
                                    <h4 class="subheading">HLT Spring Retreat 2025</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">April 2 and 3, Alte Uni.
                                        <a class="post-link" href="hlt-retreat-ss25">(Program)</a></p>
                        
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/meeting.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Winter Semester 2024/25</h4>
                                    <h4 class="subheading">HLT Seminar (Our Group Meetings)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our weekly group meetings continue in the winter semester 2024/25. We invite all researchers and students at the University of Augsburg and the Hochschule Augsburg to join us for discussions on recent work in language technology.
                                        <a class="post-link" href="nlp-seminar-ws2425">(Program)</a>    
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/meeting.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer Semester 2024</h4>
                                    <h4 class="subheading">Natural Language Processing Seminar (Our Group Meetings)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our weekly group meetings continue in the summer semester 2024. We invite all researchers and students at the University of Augsburg and the Hochschule Augsburg to join us for discussions on recent work in language technology.
                                        <a class="post-link" href="nlp-seminar-ss24">(Program)</a>                                    </p>
                        
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/retreat_ss24_square.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2024</h4>
                                    <h4 class="subheading">HLT Retreat SS2024</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our second mini workshop took place on April 8-9, 2024. <a class="post-link" href="hlt-retreat-ss24">(Program)</a>  </p>
                                </div>
                            </div>
                        </li>
                        <!--li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/meeting.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Winter Semester 2023</h4>
                                    <h4 class="subheading">Natural Language Processing Seminar (Our Group Meetings)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our weekly group meetings will start in the winter semester 2023. We invite all researchers and students at the University of Augsburg and the Hochschule Augsburg to join us for discussions on recent work in language technology.
                                        <a class="post-link" href="nlp-seminar">(Program)</a>                                    </p>
                        
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/hlt-augsburg-kickoff-workshop-small2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2023</h4>
                                    <h4 class="subheading">Kickoff Workshop</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are looking forward to our Augsburg CoLi kickoff workshop! <a class="post-link" href="kickoff-workshop-23">(Program)</a>  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/flavia.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2023</h4>
                                    <h4 class="subheading">Visiting Scholar</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Flavia Sciolette is visiting CoLi in Augsburg on a Short-Term Scientific Mission funded by COST.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/lilian.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2023</h4>
                                    <h4 class="subheading">Visiting Scholar</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are happy to welcome our visiting scholar Lilian Wanzare (Maseno University, Kenia). Lilian works on creating datasets to make low-resource Kenian languages ready for NLP. She received an UNESCO TWAS Seed Grant for New African Principal Investigators (SG-NAPI).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/events/kilian.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2023</h4>
                                    <h4 class="subheading">Invited Talk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Kilian Evang (Heinrich-Heine-Universität Düsseldorf) is talking about <b>Binary Superframes for Consistent and Comprehensive Semantic Role Annotation</b>
                                    in the <a href="https://www.uni-augsburg.de/de/fakultaet/philhist/studium/vortragsreihen/interdisziplinares-linguistisches-kolloquium-augsburg/">ILKA Colloquium</a>.</p>
                                </div>
                            </div>
                        </li-->
                        <!--li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
