<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <h3 class="section-subheading text-muted">Regular updates from our groups.</h3>
            </div>
        </div>

<ul>
    <li>April 5, 2024 -- Three papers co-authored by Alessandra Zarcone have been accepted for publication: D. Schwarz, A. Zarcone and F. Laquai "Talk to your Cobot: faster and more efficient error-handling in a robotic system with a multi-modal Conversational Agent" 
        (to be presented at Mensch und Roboter 2024), C. Geiss and A. Zarcone "THAugs at GermEval 2024 (Shared Task 1: GerMS-Detect): Predicting the Severity of Misogyny/Sexism in Forum Comments with BERT Models (Subtask 1, Open Track and Closed Track)" 
        (to be presented at Germeval 2024), and A. Zarcone, “Attention and Salience.” to appear in Oxford Bibliographies in Linguistics.</li>
    <li>April 5, 2024 -- Two papers co-authored by Christian Chiarcos have been accepted to LREC/Coling 2024: <a href="https://aclanthology.org/2024.lrec-main.225/">Bridging Computational Lexicography and Corpus Linguistics: A Query Extension for OntoLex-FrAC</a> and <a href="https://aclanthology.org/2024.lrec-main.1084/">On Modelling Corpus Citations in Computational Lexical Resources</a>. Congrats, Christian!</li>
    <li>April 4, 2024 -- Jakob Prange is giving a tutorial at the Computational Linguistics Fall School in Passau in September. Sign up <a href="https://cl-fallschool-2024.github.io/">here</a>!</li>
    <li>March 15, 2024 -- NAACL main conference paper accepted: <strong>FREB-TQA: A Fine-Grained Robustness Evaluation Benchmark for Table Question Answering</strong>. Congrats, Wei! The paper is joint work with Mohsen Mesgar (Bosch) and Heike Adel (Hochschule der Medien, Stuttgart).</li>
    <li>February 21, 2024 -- Our paper <a href="https://aclanthology.org/2024.lrec-main.103/">AnnoCTR: A Dataset for Detecting and Linking Entities, Tactics, and Techniques in Cyber Threat Reports</a> has been accepted to <a href="https://lrec-coling-2024.org/">LREC/Coling</a>, the 2024 Joint International Conference on Computational Linguistics, Language Resources, and Evaluation, which will take place in May in Torino, Italy.
    In the paper, which is a collaboration with Bosch and the MPI of Informatics in Saarbrücken, we present a new dataset of classifying cyber attacks and techniques in reports. Also, the paper <a href="https://aclanthology.org/2024.lrec-main.600/">Explaining Pre-Trained Language Models with Attribution Scores: An Analysis in Low-Resource Settings</a> by our Phd student Wei Zhou, together with Bosch and Univerisity of Stuttgart,
    has been accepted at LREC-COLING 2024.</li>
    <li>February 8, 2024 -- Annemarie Friedrich has been elected as <strong>President of the German Society for Computational Linguistics and Language Technology</strong> (<a href="">GSCL</a>).</li>
   <li>January 24, 2024 -- Our paper <strong>Aligning Uncertainty: Leveraging LLMs to Analyze Uncertainty Transfer in Text Summarization</strong> has been accepted to the <a href="https://uncertainlp.github.io/" target="_blank">UncertaiNLP Workshop</a> at EACL 2024. Congrats, Zahra!</li>
</ul>
<a class="post-link" href="news-archive">(News Archive)</a>
    </div>
</section>
