<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <h3 class="section-subheading text-muted">Regular updates from our groups.</h3>
            </div>
        </div>

    <ul>
        <li>July 28, 2025 -- HLT Augsburg is participating in ACL 2025 in Vienna with 7 posters and 1 talk!</li>
        <li>July 15, 2025 -- Anne is on Youtube to talk (for laypeople) about how it makes sense to combine human and artificial intelligence [<a href="https://www.youtube.com/watch?v=Sn2nqUf1p1s">Video</a>]</li>
        <li>June 4, 2025 -- We are celebrating computational linguistics in Augsburg: the joint inaugural lecture of Christian Chiarcos and Annemarie Friedrich takes place at the University of Augsburg.</li>
        <li>June 1, 2025 -- Rank 2 and rank 3 in the <a href="https://sdproc.org/2025/scivqa.html">SciVQA Shared Task</a> go to HLT Augsburg members! Congrats Viviana Ventura, Lukas Kleybolte, and Christian Jaumann!</li>
        <li>May 29, 2025 -- Ever wondered how effective LLMs are on detecting problems with formulating patents? Our paper on the new dataset PEDANTIC has just been accepted to the 6th Workshop on Patent Text Mining and Semantic Technologies (PatentSemTech 2025) sigir-2025 in Padua, Italy. Really proud of Valentin Knappich and thanks for the great collaboration Simon Razniewski and Anna Hätty! Find the prepint here: https://arxiv.org/abs/2505.21342</li>
        <li>May 17, 2025 -- Four papers with HLT Augsburg contributions accepted to ACL 2025 (one main conference paper, three Findings papers). Congrats Christian Jaumann, Wei Zhou, Valentin Knappich!</li>
        <li>April 2 and 3, 2025 -- We just had our third HLT Augsburg Retreat - this time with a PhD Writing Workshop and an interesting technical program! We also welcome our new team member Hanna Schmück (PostDoc in the NLU group).</li>
 </ul>
    <div class="col-lg-12 text-center">
<a class="post-link  text-center" href="news-archive">[Older news]</a>
</div>
</div>
</section>
