<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <h3 class="section-subheading text-muted">Regular updates from our groups.</h3>
            </div>
        </div>

    <ul>
        <li>June 10, 2026 -- Anne is giving an invited talk at the BaioSphere session at the Helmholtz AI Conference (HAICON) 2026 in Munich.</li>
        <li>June 1, 2026 -- Paper on <strong>Cross-Linguistic Situation Entity Segmentation for Discourse Analysis in Diachronic English and German Text.</strong> accepted to the Linguistic Annotation Workshop (LAW-XX) 2026. Congrats to Hanna, Veronika, and Xaver. This is joint work with Sonja Zeman and Claudia Claridge.</li>
        <li>August 30 - September 4, 2026 -- We're happy to invite international students, young researchers and interested colleagues to wine, art and Linguistic Linked Open Data at our <a href="https://datathon2026.fcsh.unl.pt/">6th Summer Datathon on Linguistic Linked Open Data (SD-LLOD-26)</a> at <a href="https://villacagnola.com">Villa Cagnola</a> near Milan, Italy. Many thanks to the COST Action GOBLIN (Global Network on Large-Scale, Cross-domain and Multilingual Open Knowledge Graphs) <a href="https://goblin-cost.eu/,">[1]</a> and the European Master in Linguistic Data Science (EMLDS) <a href="https://emlds.fcsh.unl.pt/">[2]</a> for supporting the event! <strong>Registration and applications for travel grants still open until May 22, 2026!</strong>
        <li>June 29 - July 3, 2026 -- Curious about <strong>Corpus-based research in linguistics: Data, tools and analysis</strong>? Join Christian's 5-day tutorial at <a href="https://clunl.fcsh.unl.pt/en/lisbon-summer-school-in-linguistics-2026/">the Lisbon Summer School in Linguistics 2026</a> in Lisbon, Portugal!
        <li>May 16, 2026 -- We present two more papers at LREC 2026 Post-Conference Workshops: 
            <a href="http://lrec-conf.org/proceedings/lrec2026/workshops/udw/2026.udw-1.0.pdf#page.277">Towards a Universal Dependency Corpus for Old Saxon (Old Low German)</a> (UDW-2026), and
            <a href="https://kg-llm.github.io/program/pdf/2026.kgllmlrec26-1.13.pdf">Stack2Graph: A Structured Knowledge Representation of Stack Overflow Data for Retrieval-based Question Answering</a> (KG-LLM-2026).
            Congrats to the authors!</li>
        <li>May 13-15, 2026 -- At LREC 2026, Christian*2, Tabea and Quentin present the <a href="https://lrec.elra.info/lrec2026-main-160">Augsburg Corpus of Reference and Information Structure</a> and Christian some of our work on <a href="https://lrec.elra.info/lrec2026-main-916">Low German morphology</a>. 
        <li>May 11-12, 2026 -- We present two papers at LREC 2026 Pre-Conference Workshops: 
            <a href="http://lrec-conf.org/proceedings/lrec2026/workshops/ldl/2026.ldl-1.0.pdf#chapter.4">Consolidating Syntactically Annotated Corpora with LLOD Technology</a> (LDL-2026), and 
            <strong>VEIL: A Benchmark for Value-Preserving Entity Identification Limitation</strong> (CALD-pseudo 2026). 
            Congrats to the authors!</li>
        <li>April 9, 2026 -- Two papers accepted to top-tier conferences: (1) Valentin Knappich, Anna Hätty, Simon Razniewski, and Annemarie Friedrich. <strong>Is It Novel and Why? Fine-Grained Patent Novelty Prediction Based on Passage Retrieval</strong>. <i>Accepted to ACM SIGIR 2026.</i>
(2) Wei Zhou, Bolei Ma, Annemarie Friedrich, and Mohsen Mesgar.<strong>Table Question Answering in the Era of Large Language Models: A Comprehensive Survey of Tasks, Methods, and Evaluation</strong>. <i>Accepted to ACL 2026 (main conference)</i>. Congrats, Valentin and Wei! Preprints coming up ...
</li>
        <li>February 25, 2026 -- Hanna, Veronika, and Anne are giving a talk on <i>Temporal dynamics and linguistic patterns in discourse modes: The case of narrative passages</i>at <a href="https://quantor-project.github.io/dgfs2026.html">DGfS 2026</a> in Trier. At the same time, Fabio is presenting <a href="https://zenodo.org/records/18702907">our work on a new dataset for Handwritten Text Recognition</a> at <a href="https://dhd2026.digitalhumanities.de/">DhD 2026</a>.</li>

 </ul>
    <div class="col-lg-12 text-center">
<a class="post-link  text-center" href="news-archive">[Older news]</a>
</div>
</div>
</section>
